# Python
__pycache__/
*.py[cod]
.Python
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.idea/
*.swp
.DS_Store

# Data (large / local)
data_raw/**
!data_raw/README.md
data_processed/**
data_intermediate/**

# Cache
cache/

# Env
.env
.env.local

# Logs
*.log
